@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #3E3232
}

/* #weather-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */

svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

button {
  border: transparent;
  background: transparent;
}

button svg {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 10px;
}

input {
  padding: .6rem;
  border-radius: 5px;
  border: none;
  color: #000;
  outline: none;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}


.weather-info {
  width: 100%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: .6rem;
  /* border: 1px solid #fff; */
}

.location {
  font-size: 2.5rem;
}

.weather-info>p {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

img {
  width: 78px;
  height: 78px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 50px;
  text-align: center;
  height: 50px;
  background-color: #000;
}

footer a {
  text-decoration: none;
  font-size: .8rem;
  color: wheat;
}

/* Estilos adicionales */
@media (max-width: 600px) {

  /* Estilos específicos para este rango de ancho de pantalla */
  .weather-info {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .weather-info>p {
    font-size: .8rem;
  }

  .location {
    font-size: 1.5rem;
  }
}